
body {
    background: rgb(52, 119, 207);
}

text{
    text-align: center;
    color: rgb(120, 199, 120);
}

.container{
    background: #49dddd;
    margin: 10 10 10 10;
    border: 3px solid black;
}


.nav a {
    background: #18b377;
}